parameters:
    level: 5
    bootstrapFiles:
        - vendor/szepeviktor/phpstan-wordpress/bootstrap.php
        - src/phpstan-bootstrap.php
    paths:
        - ./src
    excludePaths:
        - ?./vendor
        - ?./tests
        - ?./node_modules
